$white: #FFF;
$lightGrey: #FAFAFA;
$silver: #E6E7E8;
$darkSilver: #DDD;
$charcoalGrey: #3F404F;
$neutralGrey: #999;
$bcgCharcoalGrey: #605F5F;
$lightNeturalGrey: #A7A9AB;
$greenOpacity: #D7F5EF;
$secGreen: #2CECBD;
$mainGreen: #02C39A;
$hwBlue: #0259A8;
$secBlue: #6797FB;
$serulianBlue: #19A4E8;
$radicalRed: #F6475D;
$grapefruit: #FF5252;
$textColor: #FFF;
$alternateTextColor: #24323D;
$confirmOrange: #FFD207;
$titleBorderGray: #EEE;
